<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡Deadpool!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- Aquí se usan los íconos de font awesome  -->
  <script src="https://kit.fontawesome.com/98026b1a47.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:3000/">
        <img
          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2047868-eb3f-45a9-84ac-a12510bfedd9/dg2b0f6-dbec3f54-528d-4397-a7e6-3a4c4130e892.png/v1/fill/w_1131,h_707/deadpool_logo__by_dracoawesomeness_dg2b0f6-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6IlwvZlwvYzIwNDc4NjgtZWIzZi00NWE5LTg0YWMtYTEyNTEwYmZlZGQ5XC9kZzJiMGY2LWRiZWMzZjU0LTUyOGQtNDM5Ny1hN2U2LTNhNGM0MTMwZTg5Mi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.L7361iwy95OpSbatBLkBBbFCbAAz7Sm7LhNwLOrZ2DA"
          width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a id="boton_casa" class="navbar-item">
          Esta es mi casa
        </a>

        <a class="navbar-item" href="/wolverine">
          Enviar mensaje a Wolverine
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Social
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/social/deadpool!">
              Deadpool!
            </a>
            <a class="navbar-item" href="/social/instagram">
              Instagram
            </a>
            <a class="navbar-item" href="/social/trailer">
              Trailer Deadpool 3
            </a>
          </div>
        </div>

        <a class="navbar-item" href="/password">
          Password validator
        </a>

        <div class="navbar-item">
          <a id="boton_disparar" class="button is-primary">
            <strong>Disparar Enemigo</strong>
          </a>
        </div>

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if (username == '') { %>
            <a href="/users/login" class="button is-light">
              <strong>Log in</strong>
            </a>
            <% } else { %>
            <div class="navbar-item">
              <span>
                Hola <strong> <%= username %> |</strong>
              </span>
            </div>
            <a href="/users/logout" class="button is-danger">
              <strong>Log out</strong>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>