<%- include('includes/head.ejs', {
  username: username,
  permisos: permisos 
}) %>

<section class="section">
  <div class="container">
    <h1 id="title" class="title">Oops, no existe el enemigo que estas buscando</h1>
    <div class="block">
      <figure>
        <img id="imagen_disparar" src="https://shirtoid.com/wp-content/uploads/2017/12/Oops.jpg">
      </figure>
    </div>
  </div>
</section>
<%- include('includes/foot.ejs') %>
</body>

</html>