<%- include('includes/head.ejs', {username: username}) %>
<section class="section">
    <div class="container">
        <h1 id="title" class="title">Sube una publicacion de instagram</h1>
        <form action="/social/crear_post" method="POST">
            <label class="label" for="titulo">Titulo de post</label>
            <input name="titulo" class="input" type="text" id="titulo"><br>
            <label class="label" for="caption">Caption de post</label>
            <input name="caption" class="input" type="text" id="caption"><br>
            <label class="label" for="fecha">Fecha de post</label>
            <input name="fecha" class="input" type="text" id="fecha"><br>
            <label class="label" for="imagen">Imagen de post</label>
            <input name="imagen" class="input" type="text" id="imagen"><br><br>
            <input class="button is-link" type="submit" value="Subir">
        </form>
        <br>
        <div class="block">
            <figure>
                <img id="imagen_disparar" src="">
            </figure>
        </div>
    </div>
</section>
<%- include('includes/foot.ejs') %>