<%- include('includes/head.ejs', {
  username: username,
  permisos: permisos 
}) %>

<section class="section">
  <div class="container">
    <h1 id="title" class="title">Deadpool!</h1>
    <div class="block">
      <figure>
        <img id="imagen_disparar"
          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1_5x/sources/r1/cms/prod/old_images/MOVIE/3257/1770003257/1770003257-h">
      </figure>
    </div>
    <div class="columns">
    </div>
</section>
<%- include('includes/foot.ejs') %>