<%- include('includes/head.ejs') %>
<section class="section">
  <div class="container">
    <h1 id="title" class="title">Hello there</h1>
    <div class="block">
      <figure>
        <img id="imagen_disparar"
          src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/02/1484222978-deadpool.jpg?resize=1200:*">
      </figure>
    </div>
    <div class="columns">`;
      <% for (let mensaje of messages) { %>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"> <%= mensaje.titulo %> </p>
                <p class="subtitle is-6">@Deadp00l!</p>
              </div>
            </div>

            <div class="content">
              <%= mensaje.mensaje %>
              <br>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <%- include('includes/foot.ejs') %>