<%- include('includes/head.ejs') %>
<section class="section">
  <div class="container">
    <h1 id="title" class="title">¿¡Un instagram de deadpool?!</h1>
    <div class="block">
      <figure>
        <img id="imagen_disparar" src="">
      </figure>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://pbs.twimg.com/media/Fr3GjD6WIAIZEU3?format=jpg&name=medium" alt="Deadpool selfie beach">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://pbs.twimg.com/media/Fr3GjD6WIAIZEU3?format=jpg&name=medium"
                    alt="Deadpool selfie beach">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">¡¿Vacaciones?!</p>
                <p class="subtitle is-6">@deadp00l!</p>
              </div>
            </div>

            <div class="content">
              Aquí en Vallarta buscando a mi buen amigo Wolverine
              <br>
              <time datetime="2023-12-1">11:09 PM - 12 Dic 2023</time>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img
                src="https://cnnespanol.cnn.com/wp-content/uploads/2023/07/deadpool-3-wolverine.jpg?quality=100&strip=info&w=940&h=530&crop=1"
                alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://cnnespanol.cnn.com/wp-content/uploads/2023/07/deadpool-3-wolverine.jpg?quality=100&strip=info&w=940&h=530&crop=1"
                    alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Lo encontre!</p>
                <p class="subtitle is-6">@deadp00l!</p>
              </div>
            </div>

            <div class="content">
              Estaba caminando de regreso hacia el universo de Fox.
              <br>
              <time datetime="2024-1-1">1:45 PM - 1 Jan 2024</time>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img
                src="https://www.cnet.com/a/img/resize/c6f874db32e0ab4c7fa8e34bee3d3e3b57215fd5/hub/2018/05/14/59b90dde-f0e9-4250-b13b-a520ae2fba5d/deadpool-2-og.jpg?auto=webp&fit=crop&height=1200&width=1200"
                alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://www.cnet.com/a/img/resize/c6f874db32e0ab4c7fa8e34bee3d3e3b57215fd5/hub/2018/05/14/59b90dde-f0e9-4250-b13b-a520ae2fba5d/deadpool-2-og.jpg?auto=webp&fit=crop&height=1200&width=1200"
                    alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Escuchando unos buenos beats</p>
                <p class="subtitle is-6">@deadp00l!</p>
              </div>
            </div>

            <div class="content">
              ¿A quién más le gusta Solence?
              <br>
              <time datetime="2024-2-27">11:09 PM - 27 Feb 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>
<%- include('includes/foot.ejs') %>