<%- include('includes/head.ejs', {username: username}) %>
<section class="section">
  <div class="container">
    <h1 id="title" class="title">Trailer de Deadpool 3</h1>
    <div class="block">
      <iframe width="560" height="315"
        src="https://www.youtube.com/embed/uJMCNJP2ipI?si=mTX9b0t5k6acf4cW?autoplay=1&controls=0"
        title="YouTube video player">
      </iframe>
    </div>
    <div class="block">
      <figure>
        <img id="imagen_disparar" src="">
      </figure>
    </div>
</section>
<%- include('includes/foot.ejs') %>