/* Selector de etiqueta */
body {
    font-family: "Verdana", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
}

header {
    color: white;
    background: rgb(8,1,140);
    background: linear-gradient(90deg, rgba(8,1,140,1) 0%, rgba(121,108,9,1) 50%, rgba(17,131,112,1) 78%, rgba(0,212,255,1) 100%);    text-align: center;
    padding: 1em;
}

footer {
    color: white;
    background: rgb(8,1,140);
    background: linear-gradient(90deg, rgba(8,1,140,1) 0%, rgba(121,108,9,1) 50%, rgba(17,131,112,1) 78%, rgba(0,212,255,1) 100%);
    padding: 0.01% 1%;
    text-align: center;
}

a:visited { 
    text-decoration: none; 
    color: orange; 
}

a {
    color: orange; 
}

p {
    color: #075e4f;
}

ul {
    color: #075e4f;
}

h2 {
    color: #08018c;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}

h1 {
    color: white;
}

h3 {
    color: #796c09;
    margin-top: 1em;
    padding-top: 1em;
}

/* Selector de clase */
.brown {
    color: rgb(85, 46, 3);
}

#white {
    color: white;
}
/* Selector de id */
#background_form {
    background-color: #796c09;
    color: white;
    padding: 0% 1%;
}